{
    "jcs": {
        "parcer": {
            "sintax": "typescript",
            "decorators": true
        },
        "transform": {
            "legacyDecorator": true,
            "decoratorMetadata": true
        }
    }
}